{% extends 'base.html.twig' %}

{% block title %}Dog List{% endblock %}

{% block body %}

{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary">Add dog</button>
{{form_end(form)}}

<ul>
    {% for dog in dogList %}
        <li>{{dog.name}}, {{dog.breed}}, {{dog.age}} years old</li>
    {% endfor %}
</ul>
{% endblock %}
